<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <meta charset = "UTF-8">
    <title>토끼지마켓</title>
    <!-- font 설정 -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@300;500;700;900&display=swap" rel="stylesheet">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <style>
      body{
        text-decoration: none;
        list-style: none;
        background-color:#FFDEB8;
      }
      .navbar{
        background-color:#FFDEB8;
        font-family: 'Nanum Gothic', sans-serif;
      }
      .navbar-brand > #h1{
        color: #717171;
        font-weight: 800;
      }
      .navbar-brand > #h1{
        top:0px;
      }
      .navbar-brand > #h3{
        color: #717171;
        font-weight: 800;
      }
      .collapse > .navbar-nav{
        font-family: 'Nanum Gothic', sans-serif;
        color: #717171;
        font-weight: 800;
        font-size: 20px;
      }
      .header2 > .navbar-nav{
        font-family: 'Nanum Gothic', sans-serif;
        color: #717171;
        font-weight: 800;
        font-size: 20px;
      }

        #next_bt {
          margin-left: 95%;
        }

    </style>
  </head>
                      <script>

                          window.onload =function getQueryStringObject() { // get밭은거 변환. ㅎㅎㅎ  윈도우열리면, (body)내용 다 보고나서
                          var a = window.location.search.substr(1).split('&');
                          if (a == "") return {};
                          var b = {};
                          for (var i = 0; i < a.length; ++i) {
                              var p = a[i].split('=', 2);
                              if (p.length == 1)
                                  b[p[0]] = "";
                              else
                                  b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));

                                }

                              //b.toreceiver
                                //return b.toreceiver;
                                document.getElementById('goreceiver').value = b.toreceiver;
                        }

                        // document.getElementById('goreceiver').value = getQueryStringObject();
                        // console.log( getQueryStringObject());
                          </script>
  <body>
    <%- include('../partials/sim2_nav') %>

    <div id="container" class="container mb-3">

      <form action="/reviews/reviewindex<%= getPostQueryString() %>" method="post" >
        <div class="form-group">
          <label for="body" style="text-align: left; font: HYGothic-Extra; font-weight: bold; color: #787878; font-size: 30px;" class="contentBoxTop mb-3">거래후기</label>
            <input type="text" id="body" name="contents" rows="5" class="form-control <%= (errors.contents)?'is-invalid':'' %>" value="<%= review.contents %>"></input>
                        <div id="body_cnt">(0 / 50)</div>
                      <% if(errors.contents){ %>
                        <span class="invalid-feedback"><%= errors.contents.message %></span>
                      <% } %>

                      <input type="hidden" id="goreceiver" name="receiver" rows="5" class="form-control" value="hahahaha"></input>

                <!-- ㅎㅎㅎㅎㅎ -->
        </div>

        <% if(errors.unhandled){ %>
          <div class="invalid-feedback d-block">
            <%= errors.unhandled %>
          </div>
        <% } %>

        <div>
          <button id="next_bt" type="submit" class="btn btn-primary" style="color: #000000; background: #F6C488; border: 3px solid #787878;">작성</button>
        </div>

      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script>
      $(document).ready(function() {
          $('#body').on('keyup', function() {
              $('#body_cnt').html("("+$(this).val().length+" / 50)");

              if($(this).val().length > 50) {
                  $(this).val($(this).val().substring(0, 100));
                  $('#body_cnt').html("(50 / 50)");
              }
          });
      });
    </script>
  </body>
</html>
